<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KodoKodo</title>
    <link href="static/bootstrap.css" rel="stylesheet">

    <link href="static/full-slider.css" rel="stylesheet">
    <!--
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="https://raw.github.com/IronSummitMedia/startbootstrap/master/templates/css/full-slider.css" />-->

  </head>

  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="/recent">Recent Postings
                </a>
               </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-hover="dropdown" data-delay="1" data-close-others="false" href="/employment">Employment Opportunities
                 <span class="caret">
                  <ul class="dropdown-menu">
                    <li><a href="/accounting">Accounting Jobs</a></li>
                    <li><a href="/it">Information Technology</a></li>
                    <li><a href="/secretary">Secretarial</a></li>
                    <li><a href="/marketing">Marketing</a></li>
                  </ul>
                 </span>
               </a>
             </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-hover="dropdown" data-delay="1" data-close-others="false" href="/electronics">Electronics
                  <span class="caret">
                  <ul class="dropdown-menu">
                    <li><a href="/phones">Mobile Phones</a></li>
                    <li><a href="/laptops">Computers</a></li>
                  </ul>
                </span>
                </a>
                </li>
              <li class="dropdown">
                <a href="/housing">Housing
                </a>
               </li>
              <li class="dropdown" >
                <a class="dropdown-toggle" data-hover="dropdown" data-delay="1" data-close-others="false" href="/personalcare">Personal Care
                <span class="caret">
                  <ul class="dropdown-menu"> 
                    <li><a href="/clothing">Clothing/Shoes</a></li>
                    <li><a href="/perfumes">Perfumes</a></li>
                  </ul>
                </span>
              </a>
              </li>  
              <li class="dropdown" >
                <a class="dropdown-toggle" data-hover="dropdown" data-delay="1" data-close-others="false" href="2col_temp.html">Motors
                <span class="caret">
                  <ul class="dropdown-menu"> 
                    <li><a href="/cars">Cars</a></li>
                    <li><a href="/cars">Mopeds/Motorcycles</a></li>
                    <li><a href="/cars">Spare Parts</a></li>
                  </ul>
                </span>
              </a>
              </li>     
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="fill" style="background-image:url('http://034e3b2.netsolhost.com/MPTwordpress/wp-content/uploads/2011/12/buy_sell_online.jpg');"></div>
            <div class="carousel-caption">
              <h1>Kodokodo</h1>
              <h2>Find your hearts' desires</h2>
            </div>
          </div>
          <div class="item">
            <div class="fill" href style="background-image:url('http://www.worldpropertychannel.com/IW%20Club%20Ext%20high%20res.jpg');"></div>
            <div class="carousel-caption">
              <h1 href = "/housing">Housing and Real Estate</h1>
            </div>
          </div>
          <div class="item">
            <div class="fill" style="background-image:url('http://www.launchbit.com/blog/wp-content/uploads/2012/05/Now-Hiring-Exit-Here.jpg.scaled1000.jpg');"></div>
            <div class="carousel-caption">
              <h1>Employment and the Workforce</h1>
              </div>
          </div>
          <div class="item">
            <div class="fill" style="background-image:url('http://ronenews92fm.files.wordpress.com/2013/01/gadgets-electronics.jpg');"></div>
            <div class="carousel-caption">
              <h1>Electronics and Gadgets</h1>
              </div>
          </div>
          <div class="item">
            <div class="fill" style="background-image:url('http://www.hubofarticles.com/wp-content/uploads/2013/11/1297312_l.jpg');"></div>
            <div class="carousel-caption">
              <h1>Motors and Road</h1>
              </div>
          </div>
          <div class="item">
            <div class="fill" style="background-image:url('http://healthhub.brighamandwomens.org/wp-content/uploads/2012/08/PCP.jpg');"></div>
            <div class="carousel-caption">
              <h1>Personal Care and Beauty</h1>          
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="icon-next"></span>
        </a>
    </div>

    <hr>

    <script src="static/jquery-1.10.2.js"></script>
    <script src="static/bootstrap.js"></script>
    <script src="static/hover.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
      $('.carousel').carousel({
        interval: 4000 //changes the speed
      })
    </script>
  </body>
</html>